.msgBox {
    -fx-background-color: #455a64;
    -fx-background-radius: 70;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-font-family: Arial !important;
}
.allButton {
    -fx-background-color:  #718792;
    -fx-background-radius: 90;
}
